@import "~normalize.css";
@import '~@fortawesome/fontawesome-free/css/all.css';

#calendar {
  max-width: 400px;
  margin: 0px auto;

  #calendar-header {
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-between;

    .calendar-header-item {
      height: 50px;
      min-width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

#calendar-body {
  display: flex;
  flex-wrap: wrap;
}

.calendar-body-day {
  display: flex;
  flex: 0 0 14.2857143%;
  align-items: center;
  justify-content: center;    
}
  
.calendar-body-day:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.calendar-body-day.disabled {
  background-color: gainsboro;
}

.calendar-body-day.current {
  background-color: cornflowerblue;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
  overflow: auto;

  &.hidden {
    display: none;
  }

  #modal-close {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  #modal-content {
    #modal-content-header {
      padding: 15px;
      text-align: center;
    }

    #modal-content-body {
      padding: 15px;

      .schedule-option {
        width: 100%;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        border: 1px solid gainsboro;

        &.active {
          background-color: cornflowerblue;
          color: white;
        }
      }
    }

    #modal-content-message {
      padding: 15px;
      text-align: center;
    }
  }
}
